* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}
#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}
// span {
//   background-color: transparent;
// }
h1 {
  letter-spacing: -10px;
}