.header {
  padding: 20px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
  background-color: transparent;
  .header-first {
    background-color: transparent;
    position: relative;
    > img {
      padding: 8px;
      border-radius: 36px;
      background-color: white;
      transform: scale(0.8);
      cursor: pointer;
      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
  .burger {
    position: absolute;
    top: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    pointer-events: none; 
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.570, -0.015, 0.305, 0.940);
  }
  .on {
    pointer-events: auto;
    border-radius: 36px;
    display: block;
    width: 350px;
    height: 69px;
    opacity: 1;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.570, -0.015, 0.305, 0.940);
    background-color: white !important;
  }
  ul {
    border-radius: 36px;
    display: flex;
    height: 100%;
    background-color: white;
    li {
      line-height: 68px;
      background-color: white;
      img {
        transform: scale(0.8);
        padding: 8px;
        border-radius: 36px;
        background-color: white;
        cursor: pointer;
        &:hover {
          background-color: gray;
        }
      }
      &:nth-of-type(1) {
        border-radius: 36px 0 0 36px;
      }
      &:not(:nth-child(1)) {
        margin: 0 10px;
      }
      a {
        background-color: transparent;
      }
    }
  }
  .header-second {
    background-color: transparent;
    > a {
      background-color: transparent;
    }
  }
} 