.header {
  width: 100%;
  padding: 20px 40px 20px 40px;
  height: 10.185vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
  background-color: transparent;
  .header-first {
    background-color: transparent;
    position: relative;
    > img {
      padding: 8px;
      border-radius: 36px;
      background-color: white;
      transform: scale(0.8);
      cursor: pointer;
      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
  .burger {
    position: absolute;
    top: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    pointer-events: none; 
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.570, -0.015, 0.305, 0.940);
  }
  .on {
    pointer-events: auto;
    border-radius: 36px;
    display: block;
    width: auto;
    height: 69px;
    opacity: 1;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.570, -0.015, 0.305, 0.940);
    background-color: white !important;
  }
  ul {
    border-radius: 36px;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    li {
      position: relative;
      line-height: 68px;
      background-color: transparent ;
      img {
        transform: scale(0.8);
        padding: 8px;
        border-radius: 36px;
        background-color: white;
        cursor: pointer;
        &:hover {
          background-color: gray;
        }
      }
      &:nth-of-type(1) {
        border-radius: 36px 0 0 36px;
        line-height: 115px;
      }
      &:not(:nth-child(1)) {
        margin: 0 10px;
      }
      &:last-child {
        margin-right: 23px;
      }
      &:not(:first-child) {
        &::before {
          position: absolute;
          content: "";
          width: 1px;
          height: 30%;
          top: 50%;
          left: -15%;
          transform: translate(-50%, -50%);
          display: block;
          border: 1px solid rgb(136, 136, 136);
        }
      }
      a {
        background-color: transparent;  
      }
    }
  }
  .header-second {
    background-color: transparent;
    > a {
      background-color: transparent;
      font-size: 1.5rem;
      font-family: var(--hugeEng-h2);
    }
  }
  .header-third{
    content: "";
    width: 68px;
    height: 100%;
  }
} 