main {
  position: relative;
  height: calc(100vh - var(--header-height));
  margin: 0 20px;
  padding: 0 20px;
  .main-wrap {
    height: 100%;
    .main-txt {
      position: absolute;
      left: 4%;
      top: -5%;
      background-color: transparent;
      h1 {
        font-size: 9rem;
        background-color: transparent;
        line-height: 0.9;
      }
    }
    .main-box {
      height: calc(100vh - 126px - 86px);
      .box {
        //공통 컨트롤
        padding: 10px 30px 30px 30px;
        transition: 0.3s;
        background-color: #f6f6f6;
        .box-txt {
          font-size: 4rem;
          background-color: transparent;
          font-family: 'Russo One', sans-serif
        }
        .text {
          background-color: transparent;
          margin-top: 15px;
          line-height: 1.2;
          p {
            font-size: 2rem;
            background-color: transparent;
            // font-family: 'Noto Sans KR', sans-serif;
            font-family: 'KHNPHD';
            letter-spacing: -0.3px;
          }
        }
        a {
          background-color: transparent;
          font-size: 20px;
          padding: 5px 0;
          border-bottom: 2px solid rgb(51, 50, 50);
          display: inline-block;
          margin-top: 40px;
          
        }
        .event1 {
          opacity: 0;
          transition: 0.3s;
        }
        &:hover .event1 {
          opacity: 1;
        }
      }
      //////////////////////////////////////////////////
      .PROFILE {
        position: absolute;
        bottom: 20px;
        left: 150px;
        width: 46.875%;
        height: 700px;
        border: 1px solid black;
        &:hover {
          height: 800px;
          background-color: #ffdb6b;
        }
      }
      .Skills {
        position: absolute;
        bottom: 20px;
        right: 2%;
        width: 52.083%;
        height: 600px;
        border: 1px solid black;
        &:hover {
          height: 700px;
          background-color: #81B3FF;
        }
      }
      .Project {
        position: absolute;
        left: 2%;
        bottom: 20px;
        width: 62.5%;
        height: 400px;
        border: 1px solid black;
        &:hover {
          height: 600px;
          background-color: #FD7989;
        }
      }
      .Contact{
        position: absolute;
        z-index: 9999;
        right: 10%;
        bottom: 20px;
        width: 57.2916%;
        height: 250px;
        border: 1px solid black;
        &:hover {
          height: 400px;
          background-color: #4DE2C7;
        }
      }
    }
  }
}