.skills {
  height: calc(100vh - var(--header-height));
  position: relative;
  .skills-view {
    width: 83.333%;
    margin: 0 auto;
    padding: 50px 30px 30px 30px;
    // border-top: 1px solid black;
    .skills-first {
      h4 {
        font-family: var(--hugeEng-font);
        font-size: 40px;
      }
    }
    .skills-second {
      display: flex;
      margin-bottom: 100px;
      margin-top: 50px;
      overflow: hidden;
      .name {
        position: relative;
        font-family: var(--eng-font);
        font-size: 6rem;
        width: 50%;
      }
      .abc {
        animation: up 0.5s;
      }
    }
    .skills-list {
      > div {
        padding: 40px 0;
        border-top: 1px solid black;
        display: flex;
        /////각 스킬 종류 이름
        > p {
          &:first-child {
            margin-right: 40px;
            display: flex;
            align-items: center;
            width: 15%;
            font-size: 1.5rem;
            font-family: var(--hugeEng-font);
          }
        }
        .count {
          position: relative;
          transform: translateY(50%);
          width: 15%;
          display: flex;
          align-items: center;
          font-size: 5rem;
          opacity: 0;
          transition: 0.5s;
        }
        .move {
          transform: translateY(0);
          opacity: 1;
        }
        ul {
          width: 100%;
          // overflow: hidden;
          display: flex;
          align-items: center;
          // justify-content: space-around;
          height: auto;
          li {
            width: 7%;
            margin-right: 50px;
            position: relative;
            transform: translateY(50%);
            opacity: 0;
            transition: 0.5s;
            img {
              cursor: pointer;
            }
          }
          .move {
            transform: translateY(0);
            opacity: 1;
          }
          .bounce {
            animation: tong 0.5s infinite alternate;
          }
        }
      }
    }
  }
}

@keyframes up {
  from {
    transform: translateY(100%);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tong {
  from {
    transform: translateY(0);
  } to {
    transform: translateY(-15px);
  }
}
