$header-height: 89px;

.skills {
  border: 1px solid black;
  width: 100vw;
  height: calc(100vh - $header-height);
  position: relative;
  //얼러트 비슷한 느낌의 창
  .alert {
    position: absolute;
    top: -200px;
    left: 50%;
    transform:translateX(-50%);
    transition: 0.7s;
    &.down {
      top: 0px;
    }
  }
  //////////////////
  .skills-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    border: 1px solid black;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    > div {
      margin-left: 50px;
      //////////////전체 컨트롤
      > p {
        border: 1px solid black;
        display: inline-block;
        border-radius: 20px;
        padding: 5px 20px;
        margin-bottom: 20px;
      }
      > div {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            width: 10%;
            transition: 0.2s;
            &:hover {
              width: 20%;
              transform: scale(1.1);
              figure {
                figcaption {
                  opacity: 1;
                }
              }
            }
            figure {
              display: flex;
              figcaption {
                opacity: 0;
              }
            }
          }
        }
      }
    }
    //////////////////////////
    .front-skills {
      margin-bottom: 100px;
    }
  }
}